* {
    margin: 0;
    padding: 0;

}



/*logo*/
.logo-img {
    margin: 5px 0;
    max-width: 100px;
    height: auto;
    align-self: flex-end;
}


/*navbar*/
#navbar {
    background: rgba(0, 0, 0, 0.495);

}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 !important;
    height: 65px;

}

.nav-cont {

    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar-toggler-icon {
    filter: brightness(0) invert(1);
}

.navbar-collapse .navbar-nav .nav-link {
    color: white !important;
}

.navbar-collapse .dropdown-menu {
    background-color: #212121;

}

.navbar-collapse .dropdown-menu .dropdown-item {
    color: white !important;
}

.navbar-collapse .dropdown-menu .dropdown-item:focus,
.navbar-collapse .dropdown-menu .dropdown-item:hover {
    color: black !important;
}

@media (max-width: 992px) {
    .navbar {
        width: 100%;
    }


    .navbar-collapse {
        position: absolute;
        width: 100%;
        top: 87%;
        left: 0;
        right: 0;
        padding: 0px 10px 10px 10px;
        background: rgba(0, 0, 0, 0.8);
    }

    .dropdown-menu {
        background: rgba(0, 0, 0, 0.5) !important;
    }

    .navbar-light .navbar-toggler {
        border: none !important;
    }

    .map {
        width: 100%;
        padding: 5px;
        margin: 0 auto;
    }

}

/*Home*/
/* slide-video*/
.slide-container {
    background: rgba(0, 0, 0, 0.429);
}

.video-slider {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.video-slider>video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;

}

.slide-body {
    text-align: center;
}

.slide-body>p {
    letter-spacing: 0.4rem;
    font-size: 4rem;
}

/*section-1 home*/

.section-1 {
    background-color: #eee;
}

.section-one-main .col-md-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 90px 0;
}

.section-one-main .middle {
    margin-top: 150px !important;
}

.section-one-main video {
    width: 290px;
    height: 290px;
    border: 5px solid;
    border-radius: 150px;
    border-color: green;
    object-fit: cover;
}

.item-center {
    margin-top: 90px;
}

@media screen and (max-width:768px) {

    .section-one-main .col-md-4,
    .middle {
        margin: 0 auto !important;
    }

}


/*section-2 info*/
.section-two-main {
    background-color: #212121;
    display: flex;
}


.section-two-main .txt-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section-two-main button {
    width: 30%;
}

/*section-3 card main*/
.section-three-main {
    position: relative;
    width: 100%;
    min-height: 240px;
}

.imgBorder {
    width: 100%;
    height: 0;
    padding-top: 30%;
    position: relative;
    overflow: hidden;

}

.imgBorder img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

@media screen and (max-width:768px) {
    .imgBorder {
        height: 450px;

    }

    .imgBorder img {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100%;
        width: auto;
        transform: translate(-50%, -50%);
        min-height: 450px;
        object-fit: cover;
    }


    .socail-media i {
        font-size: 1.4rem;
        margin-right: 0.6rem;
        color: white;
    }


    .card-main {
        position: absolute !important;
        right: 10%;
        top: 0;
        max-width: 20%;
        background-color: green;
    }



    .card-body {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}



.socail-media {
    display: flex;
    align-items: flex-end;

}

.socail-media i {
    font-size: 3rem;
    margin-right: 1rem;
    color: white;
}


.card-main {
    position: absolute !important;
    right: 10%;
    top: 0;
    max-width: 30%;
    background-color: green;
}



.card-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*section- saying*/
@media screen and (max-width: 768px) {
    .mobile-card-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .mobile-card-column .col-md-4 {
        max-width: 100%;
        flex-basis: 100%;
    }

    .mobile-card-column .card {
        width: 80%;
        margin: 0 auto;
    }
}

/* section-5*/

.section-five-main .form-main {
    height: 600px;
    width: 350px;


}

.contact-main-one {
    background-color: white!important;
    margin: 0;
    padding: 0;
}

.section-five-main .col-md-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.contact-form-main {
    display: flex;
}

@media screen and (max-width: 768px) {
    .map-container iframe {
        width: 100%;
        border: none;
        padding: 0 !important;
        margin: 0 !important;
        width: 100% !important;
    }

    .map-container,
    .form-container {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .form-container .form-main {
        width: 90%;
        height: auto;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


/*footer*/

.footer-main {
    background-color: #14261C;
    padding: 35px 0;

}

.main-footer-row {
    width: 100%;
    display: flex;
    justify-content: space-around !important;

}

.footer-main .footer-pages a {
    text-decoration: none;
    color: white;
    margin-bottom: 5px;
}
.footer-pages ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-pages li {
    margin-bottom: 10px;
}


/*copyright*/
.copyright {
    width: 100%;
}

.copyright a {
    padding: 10px 0;
    text-decoration: none;
    color: white;
    text-align: center;
}


/*About Page*/
/*Page Slider*/
.page-container {
    background-color: #212121e9;
    height: 60vh;
}

.page-name {
    font-size: 95px;
    letter-spacing: 2px;
    margin-bottom: 195px;
    font-weight: 500;
}

/*paralax*/
.parallax {
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.parallax-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;

}

.card-paralax {
    background-color: white;
    width: 30%;
    margin: 25px 25px;
    padding: 15px;
    border-radius: 10px;
}

.parallax-heading {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    color: black;

}

.parallax-text {
    font-size: 1.2rem;
    color: black;
}

@media (max-width: 992px) {
    .page-name {
        font-size: 55px;
    }

    .parallax-heading {
        font-size: 1.2rem;
    }

    .parallax-text {
        font-size: 1rem;
    }
}

/*team card*/
.team-card {
    padding: 15px 0;
}

.team-card img {
    border-radius: 15px;
}

.team-text-card {
    border-radius: 15px;
}

.mini-team-card .card,
.mini-team-card img {
    border-radius: 15px;
}

.mini-team-card img {
    padding: 8px;
}

/* contact*/

/*faq*/
.accordion-button {
    background-color: rgba(128, 128, 128, 0.057) !important;
}

/*blog*/

/*blog card*/

.blog-card {
    position: relative;
    border-radius: 15px;
    width: 30% !important;
    margin: 25px 15px;
}


.transparansty {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.436);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.blog-card h1,
.blog-card p {
    z-index: 2;
    color: black;

}

.transparansty .btn {
    width: 35%;
}

.transparansty .btn a {
    text-decoration: none;
    color: white;
}

/*sales page*/
.product-section-main {
    padding: 15px;
    background-color: white !important;
    position: relative;
}

.image-container {
    width: 100%;
    height: 90%;
    background-size: cover;
    background-position: center;

}


/*element*/

.element {
    clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);

}

/* multilevel navigation */